/**
 * 共享样式，主要为了调整element-plus
 */
body {
  --el-border-radius-base: 12px;

  .el-message-box {
    --el-messagebox-border-radius: 16px;
  }

  .el-popper__arrow {
    display: none;
  }

  .el-popper {
    --el-popover-border-radius: var(--el-border-radius-base);
  }

  .el-color-picker {
    width: 100%;

    .el-color-picker__trigger, .el-color-picker__color, .el-color-picker__color-inner {
      border-radius: var(--el-border-radius-base);
    }
  }

  margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}